@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
   themes: light, dark, nord, sunset;
}
/* *,
*::before,
*::after {
   @apply box-border;
   @apply p-0 m-0;
} */

@theme {
   --color-petrol: hsl(185, 64%, 15%);
}


@layer utilities {
   .font-indie {
      font-family: 'Indie Flower', cursive;
      font-weight: 400;
      font-style: normal;
   }
   .bg-image {
      background-image: url('../assets/images/taveuni_mobile.webp');
      background-size: cover;
      background-position: center;
   }
   
   @media (width > 500px) {
      .bg-image {
         background-image: url('../assets/images/taveuni.jpg');
      }
   }

   .card-bg-image {
      background-image: url('../assets/images/madeira.webp');
      background-size: cover;
      background-position: center;
   }
}
